extends layout

block content
  section.section
    .container
      h1.title How Many Times Did You Visit Stack Overflow Today?
      p If you're like most software developers, the answer is... 
        strong too many to count!
      p.
        Constant searching of Stack Overflow, digging through documentation, and scouring forums is all too common.
        Usually, the search is for something you already know - its on the tip of your tongue - but you can't remember the syntax.
      p.
        <strong>Code Cookbook</strong> aims to change that. Its a lightweight platform for developers to create, organize, and search for 
        code snippets, bash commands, and other obscure bits of information.
      p.
        Code Cookbook calls these bits of information <em>recipes</em>, and any time you create one, it gets linked to your account for easy access. 
        You can also organize recipes into <em>cookbooks</em>. Use cookbooks as guides for deploying to Heroku, a syntax reminder for a framework 
        you use once in a blue moon, or whatever else you can think of!
      p.
        Recipes are visible to everyone and can be found via the search bar at the top. As more users create recipes it will be easier to
        find those pesky bits of code.